<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:fragment="title">Mafis Kunden technische Information</title>

    <!-- Bootstrap and Custom CSS -->
    <link th:href="@{/webjars/bootstrap/5.3.3/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/6.5.2/css/all.min.css}" rel="stylesheet">
</head>
<body>

<!-- Navbar -->
<div class="container-fluid headerNav" th:fragment="navbar">
    <div class="row mt-3 navbar navbar-light">
        <div class="col-12 col-lg my-3 text-left text-lg-start">
            <a class="navbar-brand" href="https://www.eccos-pro.com">
                <img src="/images/logo.png"  alt="Logo">
            </a>
        </div>
        <div class="col-12 col-lg-2 text-left text-lg-end mt-3 mt-lg-0">
            <div th:if="${#authentication?.isAuthenticated()}">
                <div  th:with="currentUser=${#authentication.name}">
                    <i class="fas fa-user" title="Angemeldeter Benutzer"></i>&nbsp;&nbsp;
                    <span th:text="${currentUser}">example_user</span>
                    <form action="/logout" th:action="@{/logout}" method="post" style="display:inline;">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                        <button type="submit" class="btn logout-btn" title="Abmelden">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div th:replace="~{fragments/navigation :: navigation}"></div>
    </div>
    <!-- Berichte Modal -->
    <div class="modal fade" id="berichteModal" tabindex="-1" aria-labelledby="berichteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="berichteModalLabel">Search Berichte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="berichteForm">
                        <div class="mb-3">
                            <label for="searchType" class="form-label">Search Anlagen by</label>
                            <select class="form-select" id="searchType" name="searchType">
                                <option value="">Select an option</option>
                                <option value="betriebe">Betriebe</option>
                                <option value="profitcenter">Profitcenter</option>-->
                                <option value="module">Module</option>
                                <option value="kassen">Kassen</option>
                                <option value="automaten">Automaten</option>
                                <option value="schnittstellen">Schnittstellen</option>
                                <option value="zutritts">Zutritts</option>
                                <option value="medienarten">MedienArten</option>
<!--                                <option value="medientypen">MedienTypen</option>-->
                                <option value="fiskaldaten">FiskalDaten</option>
                            </select>
                        </div>
                        <div id="additionalFilters" class="d-none">
                            <!-- Additional filter options will appear here -->
                        </div>
                        <button type="button" class="btn btn-custom mt-3" onclick="applySearch()">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:fragment="footer">
    <nav  class="footer">
        <span class="text-muted">&copy; eccos pro gmbh. Alle Rechte vorbehalten.</span>
    </nav>
    <script th:src="@{/webjars/bootstrap/5.3.3/dist/js/bootstrap.bundle.min.js}"></script>
    <script>
        $(function () {
            $('.example-popover').popover({
                container: 'body'
            });
        });
    </script>
    <script>
        (function() {
var body = document.body;
var menuTrigger = document.getElementsByClassName('menu-trigger')[0];

if (menuTrigger) {
    menuTrigger.addEventListener('click', function() {
        body.classList.toggle('menu-active');
    });
}
})();
    </script>
    <script th:src="@{/js/search.js}"></script>
    <script th:src="@{/js/sucheBerichte.js}"></script>


</div>
</body>
</html>
