<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerAndNav :: header}"></head>
<style>
    .tooltip-inner {
        font-size: 1.2rem; /* Adjust the size to your needs */
        padding: 10px;
    }
</style>
<body>
<div th:replace="~{fragments/headerAndNav :: navbar}"></div>

<div id="content" style="padding-bottom: 60px">
    <div class="container-fluid ">
        <!-- Display Success Message -->
        <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${successMessage}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="row align-items-baseline gy-3 mb-3">
            <div class="col-12 col-sm-4 col-lg-1">
                <span class="h4">Anlagen</span>
            </div>
            <div class="col-12 col-sm-6 col-lg-2">
                <span  class="badge fs-6"
                       style="background-color: #fecb01; color: black;">Anzahl Treffer: [[${elementeAnzahl}]] </span>
            </div>
            <div class="col-12 col-sm-4 col-lg-2">
                <form th:replace="~{fragments/suche}"></form>
            </div>
            <div class="col-12 col-sm-4 col-lg-3">
                <form th:replace="~{fragments/anzahlProSeite}"></form>
            </div>
            <div class="col-12 col-sm-3">
                <a  target="_blank" class="btn btn-custom align-self-center  "
                    th:href="@{/exportKundeninformationen}" > <i class="fas fa-download"></i>  Export alle Kunden </a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table  table-bordered table-hover table-sm customers-list" id="table">
                <thead class="table-secondary">
                <tr>
                    <th th:replace="~{fragments/tabellenkopf (spaltenName='Anlagen Nr.', sortierenNach='anlagenNr', url='alleAnlagen')}"></th>
                    <th th:replace="~{fragments/tabellenkopf (spaltenName='Anlagenname', sortierenNach='anlagenName', url='alleAnlagen')}"></th>
                    <th th:replace="~{fragments/tabellenkopf (spaltenName='Ort', sortierenNach='ort', url='alleAnlagen')}"></th>
                    <th th:replace="~{fragments/tabellenkopf (spaltenName='Mafisversion', sortierenNach='mafisVersion', url='alleAnlagen')}"></th>
                    <th th:replace="~{fragments/tabellenkopf (spaltenName='aktualisiert am', sortierenNach='system.lastModified', url='alleAnlagen')}"></th>
                    <th th:replace="~{fragments/tabellenkopf (spaltenName='Testbetrieb', sortierenNach='testBetrieb', url='alleAnlagen')}"></th>
                    <th>Gäste</th>
                    <th>SystemInfo</th>
                    <th>ComputerInfo</th>
                    <th>Bearbeiten</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(anlagen)}">
                    <td colspan="8" class="text-center">Keine Ergebnisse gefunden.</td>
                </tr>
                </tbody>
                <tbody>
                <tr th:each="anlage : ${anlagen}"
                    th:classappend="${T(com.ep.sysinfo.MafisSyStemInfo.controller.BenutzerController).isAdmin() ? (anlage.status ? 'row-aktiv' : 'row-deaktiv') : ''}">
                    <td class="colXSmall " th:utext="${anlage.anlagenNr}"></td>
                    <td class="colXSmall" th:utext="${anlage.anlagenName}" nowrap="nowrap"></td>
                    <td class="colXSmall" th:utext="${anlage.ort}" nowrap="nowrap"></td>
                    <td class="colXSmall" th:utext="${anlage.mafisVersion}" nowrap="nowrap"></td>
                    <td class="colXSmall" th:text="${#temporals.format(anlage.system.lastModified, 'dd.MM.yyyy')}"></td>
                    <td class="colXSmall" >
                        <div th:if="${anlage.testBetrieb == null }"></div>
                        <div th:if="${anlage.testBetrieb != null }">
                            <span th:text="${anlage.testBetrieb? 'JA' : 'Nein'}"></span>
                        </div>

                    </td>
                    <td class="colXSmall text-center" nowrap="nowrap">
                        <span th:if="${anlage.system.guestsInfos != null}"
                              th:utext="${anlage.system.guestsInfos.totalGuestsAdult + anlage.system.guestsInfos.totalGuestsChild}"
                              data-bs-toggle="tooltip"
                              th:attr="data-bs-original-title=|Erwachsene: ${anlage.system.guestsInfos.totalGuestsAdult}, Kinder: ${anlage.system.guestsInfos.totalGuestsChild}|">
                        </span>
                        <span th:if="${anlage.system.guestsInfos == null}">N/A</span>
                    </td>

                    <td class="colXSmall text-center"  nowrap="nowrap">
                        <a  th:href="@{'/getSystemInfo/' + ${anlage.anlagenId}}" data-toggle="tooltip"
                           data-placement="top"
                           title="zur SystemInformation"> SystemInfo
                            <i class="fas fa-info-circle fa-2x"></i></a>
                    </td>
                    <td class="colXSmall text-center" nowrap="nowrap">
                        <a  th:href="@{'/getComputer/' + ${anlage.anlagenNr}}" data-toggle="tooltip" data-placement="top"
                           title="zur ComputerInformation"> CompInfo
                            <!--img src="/images/pc.png" class="img-responsive" alt="Responsives Bild" -->
                            <i class="fas fa-desktop fa-2x"></i>
                        </a>
                    </td>
                    <td class="colXSmall text-center" nowrap="nowrap">
                        <a href="#"
                           data-bs-toggle="modal"
                           data-bs-target="#BearbeitenModal"
                           th:attr="data-anlagen-nr=${anlage.anlagenNr}"
                           onclick="populateModalData(this)" >
                            <i class="fas fa-edit fa-2x"></i>
                        </a>
                    </td>
                    <td class="colXSmall" th:if="${T(com.ep.sysinfo.MafisSyStemInfo.controller.BenutzerController).isAdmin()}">
                        <a th:href="@{'/changeStatus/' + ${anlage.anlagenNr} + '/' +${!anlage.status}}"
                           data-toggle="tooltip" data-placement="top">
                            <span th:text="${anlage.status ? 'Deaktivieren' : 'Aktivieren'}"></span>
                        </a>
                    </td>
                    <td class="colXSmall" th:if="${! T(com.ep.sysinfo.MafisSyStemInfo.controller.BenutzerController).isAdmin()}"
                        title="${anlage.status? 'Aktiv' : 'Deaktiviert'}">

                        <span th:utext="${anlage.status? 'Aktiv' : 'Deaktiviert'}"
                              th:classappend="${anlage.status} ? 'status-aktiv' : 'status-deaktiv'">
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:insert="~{fragments/pagination(url='alleAnlagen')}"></div>
        </div>
    </div>
    <div class="modal fade" id="BearbeitenModal" tabindex="-1" aria-labelledby="BearbeitenModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bearbeitenModalLabel">Anlage bearbeiten</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="bearbeitenForm" th:action="@{/BetreiberByAnlage}" method="post">
                        <!-- Display Anlage Nr -->
                        <div class="mb-3">
                            <label for="anlageNr" class="form-label">Anlage Nr</label>
                            <input type="text" id="anlageNr" name="anlagenNr" class="form-control" readonly style="background-color: #E2E3E5">
                        </div>
                        <!-- Display Betreiber Name -->
                        <div class="mb-3">
                            <label for="betreiberName" class="form-label">Betreiber Name</label>
                            <select id="betreiberName" name="betreiberName" class="form-select">
                                <option value=""> Wählen Sie eine Option aus</option>
                                <option value="AQUAPARK">AQUAPARK</option>
                                <option value="BÄDER OSNABRÜCK">BÄDER OSNABRÜCK</option>
                                <option value="BÄDER SAARBRÜCKEN">BÄDER SAARBRÜCKEN</option>
                                <option value="DSBG">DSBG</option>
                                <option value="GENESIS GMBH">GENESIS GMBH</option>
                                <option value="GMF / PT">GMF / PT</option>
                                <option value="KANNEWISCHER">KANNEWISCHER</option>
                                <option value="MONTE MARE">MONTE MARE</option>
                                <option value="PROVA / SM">PROVA / SM</option>
                                <option value="SCHLÜSSEL-K.">SCHLÜSSEL-K.</option>
                                <option value="STADTWERKE">STADTWERKE</option>
                                <option value="VAMED">VAMED</option>
                                <option value="WUND">WUND</option>
                            </select>
                        </div>
                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-custom mt-3" onclick="submitEditForm(event)">Speichern</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/headerAndNav :: footer}"></div>

</body>
</html>