<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/headerAndNav :: header}"></head>
<body>
<div th:replace="~{fragments/headerAndNav :: navbar}"></div>

<div id="content" style="padding-bottom: 60px">
    <div class="container-fluid ">
        <div class="row align-items-baseline gy-3 mb-3">
            <div class="col-12 col-sm-4 col-lg-1">
                <span class="h4">System Informationen</span>
            </div>
            <div class="col-12 col-sm-6 col-lg-2">
                <span>Anzahl Treffer: [[${elementeAnzahl}]] </span>
            </div>
            <div class="col-12 col-sm-4 col-lg-2">
                <form th:replace="~{fragments/sucheInfo}"></form>
            </div>
            <div class="col-12 col-sm-4 col-lg-3">
                <form th:replace="~{fragments/anzahlProSeite}"></form>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table  table-bordered table-hover table-sm customers-list" id="table">
                <thead class="table-secondary">
                <tr>
                    <th th:replace="~{fragments/tabellenkopf (spaltenName='Anlagen Nr.', sortierenNach='anlage.anlagenNr', url='alleInformationen')}"></th>
                    <th th:replace="~{fragments/tabellenkopf (spaltenName='Anlagenname', sortierenNach='anlage.anlagenName', url='alleInformationen')}"></th>
                    <th th:replace="~{fragments/tabellenkopf (spaltenName='letzte Aktualisierung', sortierenNach='lastModified', url='alleInformationen')}"></th>
                    <th>zur SystemInformation</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(infos)}">
                    <td colspan="8" class="text-center">No results found.</td>
                </tr>
                </tbody>
                <tbody>
                <tr th:each="info : ${infos}">
                    <td class="colXSmall " th:utext="${info.anlage.anlagenNr}"></td>
                    <td class="colBig" th:utext="${info.anlage.anlagenName}" nowrap="nowrap"></td>
                    <td class="colXSmall" th:if="${info.lastModified != null}"
                        th:text="${#temporals.format(info.lastModified, 'dd.MM.yyyy')}"></td>
                    <td class="colXSmall" th:unless="${info.lastModified != null}">N/A</td>

                    <td class="colXSmall text-center"  nowrap="nowrap">
                        <a  th:href="@{'/getSystemInfo/' + ${info.anlage.anlagenId}}" data-toggle="tooltip"
                           data-placement="top"
                           title="zur SystemInformation">
                            <i class="fas fa-info-circle fa-2x"></i>
                        </a>
                    </td>
                    <td class="colSmall">
                        <span th:utext="${info.anlage.status ? 'Aktiv' : 'Deaktiv'}"
                              th:classappend="${info.anlage.status ? 'status-aktiv' : 'status-deaktiv'}">
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:insert="~{fragments/pagination(url='alleInformationen')}"></div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/headerAndNav :: footer}"></div>
</body>
</html>